.text-dark-purple {
    color: #474165;
}

.bg-dark-purple {
    background-color: #474165;
}

.font-libre-frank  {
    font-family: 'Libre Franklin', sans-serif;
}

.font-libre-frank-300  {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
}

.font-source-serif-pro {
    font-family: 'Source Serif Pro', serif;
}